html,
body
{
  padding: 0;
  margin: 0;
  font-family: elegant, typewriter;

}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body {
}

h1 {
  font-size: 70px;
  font-weight: normal;
  color: black;
  margin-top: 75px;
  margin-left: 40px;
  font-family: elegant-typewriter;
}

h3 {
  font-size: 40px;
  font-weight: normal;
  color: black;
  margin-left: -140px;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
  position: fixed;
  bottom: 0;
  top: 0px;
  left: 0;

}


/**
  * z-index ordering of the different layers, do this for your layers,
  * also assign absolute width (to prevent issues if the script gets executed before the images get loaded)
  */
.horizon
{
  overflow-x: hidden;
  background: url('../images/flower.png');
  z-index: 1;
  width: 5500px;
  padding-left: 375px;
  padding-bottom: 90px;
}

.middle
{
  z-index: 500;
  width: 10000px;
  padding-left: 300px;
  justify-content: space-between 100px;

}

.front
{
  z-index: 1000;
  width: 12000px;
  display: inline-block;
  text-align: center;
  padding-bottom: 40px;
  margin-left: -500px;
}

.work {
  display: inline-block;
  margin-right: 4540px;
  margin-top: 60px;
  font-size: 37px;
  text-align: center;
  color: black;
  opacity: 1.0;
  text-shadow: 20px 20px 8px gray;
}

.judge {
  min-height: 192px;
  background: url('../images/dontJudge.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 600px;
  margin-left: 1530px;
  margin-top: 10px;
  font-size: 35px;
  text-align: center;
  color: black;
  min-width: 125px;
  opacity: 1.0;
  box-shadow: 20px 20px 20px gray;
}

.gospel {
  min-height: 192px;
  background: url('../images/gospel.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 90px;
  margin-right: 600px;
  margin-top: 10px;
  font-size: 35px;
  text-align: center;
  color: black;
  min-width: 125px;
  opacity: 1.0;
  box-shadow: 20px 20px 20px gray;
}

.lustre {
  min-height: 192px;
  background: url('../images/lustre.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 90px;
  margin-right: 600px;
  margin-top: 10px;
  font-size: 35px;
  text-align: center;
  color: black;
  min-width: 125px;
  opacity: 1.0;
  box-shadow: 20px 20px 20px gray;
}

.practical {
  min-height: 192px;
  background: url('../images/practical.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 90px;
  margin-right: 600px;
  margin-top: 10px;
  font-size: 35px;
  text-align: center;
  color: black;
  min-width: 125px;
  opacity: 1.0;
  box-shadow: 20px 20px 20px gray;
}

.inspiring {
  min-height: 192px;
  background: url('../images/inspiring.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 90px;
  margin-right: 600px;
  margin-top: 10px;
  font-size: 35px;
  text-align: center;
  color: black;
  min-width: 125px;
  opacity: 1.0;
  box-shadow: 20px 20px 20px gray;
}

.pet {
  min-height: 192px;
  background: url('../images/pet.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 90px;
  margin-right: 600px;
  margin-top: 10px;
  font-size: 35px;
  text-align: center;
  color: black;
  min-width: 125px;
  opacity: 1.0;
  box-shadow: 20px 20px 20px gray;
}

.wounds {
  min-height: 192px;
  background: url('../images/wounds.png');
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 90px;
  margin-right: 500px;
  margin-top: 10px;
  font-size: 35px;
  text-align: center;
  color: black;
  min-width: 155px;
  opacity: 1.0;
  box-shadow: 20px 20px 20px gray;
}


.shadow {
  min-height: 495px;
  min-width: 700px;
  background-color: lightgray;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: -6000px;
  margin-top: 35px;
  margin-bottom: 0px;
  padding: 100px;
  padding-top: 130px;
  opacity: 1.0;

}

.there {
  min-height: 950px;

  background-repeat: no-repeat;
  display: inline-block;
  margin-left: -965px;
  margin-top: 35px;
  margin-bottom: 0px;
  padding: 100px;
  padding-top: 130px;
  min-width: 406px;

}

.books {
  min-height: 950px;
  display: inline-block;
  margin-left: -1900px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px;
  padding-top: 130px;
  font-size: 35px;
  text-align: center;
  color: black;
  min-width: 1000px;
  /*opacity: 0.9;*/
}

.kathleen {
  display: inline-block;
  max-height: 450px;
  max-width: 800px;
  margin-left: 4400px;
  padding-top: 313px;
  font-size: 35px;
  text-align: center;
  color: black;
  opacity: 0.9;
}

.photo {
  background: url('../images/kathleenpic.jpg');
  background-repeat: no-repeat;
  border-radius: 5%;
  min-height: 400px;
  max-width: 300px;
  margin-left: 4000px;
  margin-top: 300px;
  box-shadow: 20px 20px 20px gray;
  border-radius: 20px;
}

.need {
  margin-left: -4000px;
  margin-top: 245px;
  font-size: 30px;
  font-weight: normal;
  color: black;
  text-align: center;


}

.dont {
  /*margin-left: -9600px;*/
  margin-top: 290px;
  color: black;
  font-size: 60px;

}

.about1 {
  min-height: 950px;
  display: inline-block;
  margin-left: 5500px;
  margin-top: 215px;
  margin-bottom: 0px;
  padding: 100px;
  padding-top: 130px;
  font-size: 30px;
  text-align: center;
  color: black;
  opacity: 0.9;
}

.about2 {
  min-height: 950px;
  display: inline-block;
  margin-left: 7200px;
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 100px;
  padding-top: 130px;
  font-size: 30px;
  text-align: center;
  color: black;
  opacity: 0.9;
}

.about3 {
  min-height: 950px;
  display: inline-block;
  margin-left: 7200px;
  margin-top: 385px;
  margin-bottom: 0px;
  padding: 100px;
  padding-top: 130px;
  font-size: 30px;
  text-align: center;
  color: black;
  opacity: 0.9;
}

.email {
  margin-left: -4000px;
  margin-top: 100px;
  font-size: 30px;
  font-weight: normal;
  color: black;
  text-align: center;
}

